.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 50vw;
  width: 100%;
  padding: 3rem;
  border: 3px solid rgb(12, 12, 112);
border-radius: 10px;
box-shadow: 0px 10px 15px 5px rgb(40, 71, 117);
background-color: rgba(130, 152, 208, 0.785);
}

.login-container__button{
  display: flex;
  align-items: center;
  justify-content: center;
    margin-bottom: 5%;
    padding: 1rem;
    border-radius: 4px;
    border: solid 2px rgb(5, 15, 80);
    background-color: rgba(8, 55, 174, 0.834);
    color:white;
    font-weight: bold;
    font-size: 1rem;
}
.login-container__button:hover{
  color:white;
  border: solid 2px rgb(5, 15, 80);
  background-color: rgba(8, 32, 93, 0.96);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.login_welcome{
 text-align: center;
  color: rgb(18, 30, 97);
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.ant-form-item-label>label {
  font-size: 1.2rem;
  font-weight: bold;
  color:  rgb(5, 15, 80);
}